body{
  margin:0;
  background:#050608;
  color:#00ff95;
  font-family:Arial, sans-serif;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100vh;
}

a{
  margin-top:20px;
  padding:15px 25px;
  border:2px solid #00ff95;
  color:#00ff95;
  text-decoration:none;
  border-radius:12px;
  font-size:1.2rem;
}
